tmp/
.coverage
.idea/
__pycache__/
source/cdb/__pycache__/
source/commands/__pycache__/
source/env_vars/__pycache__/
source/errors/__pycache__/
source/fingerprinters/__pycache__/
tests/__pycache__/
tests/bb_integration/__pycache__/
tests/integration/__pycache__/
tests/unit/__pycache__/
tests/utils/__pycache__/
.idea/dictionaries/*
docs/.buildinfo
docs.merkely.com/build