requests
responses
docker
pytest
pytest-cov
junitparser
pygit2==1.5.0
pytest-mock
pyfakefs
git+git://github.com/approvals/ApprovalTests.Python.git@master#egg=approvaltests
pytest-approvaltests
pytest-random-order
bitbucket-pipes-toolkit==1.6.4
