[report]
omit = source/docs/doc_ref.py
      source/docs/doc_rst.py
      source/docs/doc_txt.py
      source/docs/compound_para.py
      source/docs/doc_ref_cache.py
      source/docs/__init__.py

[run]
omit = source/docs/doc_ref.py
      source/docs/doc_rst.py
      source/docs/doc_txt.py
      source/docs/compound_para.py
      source/docs/doc_ref_cache.py
      source/docs/__init__.py