/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* Beware: It seems you cant use // comments in this file  */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

body {
  padding-right: 60px;
}

:root {
  --custom-color: #f0f0f0;
  --merkely-green: #00f4b9;
  --merkely-red: #ff3e15;
  --merkely-dblue: #00117a;
  --merkely-ddblue: #010d5a;
  --merkely-mblue: #0139d3;
  --merkely-lblue: #01abe9; /* #1EAEDB; is what skeleton has for links - may want to harmonize this */
  --merkely-mbackground: rgba(1, 57, 210, 0.04);
  --merkely-black: #13151b;
  --merkely-sblack: #000000;
  --merkely-grey: #cfcfd1;
  --merkely-white: #fff;
}

.navbar {
  min-height: 70px;
}

.navbar-default {
  background-color: var(--merkely-ddblue);
  border-color: var(--merkely-ddblue);
}

.navbar .container {
  padding-top: 10px;
}

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-content > .tab-pane {
  max-width: 910px !important; /* full-width is way too much */
}

p.literal-block-link {
  padding-top: 10px;
}

a.copybtn {
  opacity: 3.7; /* bolder */
  width: 1.5em; /* bigger */
  height: 1.5em;
}

ul.nav.navbar-nav {
  display: none !important; /* Content drop-down looks bad, not needed */
}

div.form-group {
  display: none !important; /* Search is not working */
}

.inline-code {
  /* Mimic <code> */
  font-family: monospace;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
}
