name: Release

on:
  push:
    tags:
      - release-*

jobs:
  release:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          # fetch full history
          fetch-depth: 0

      - name: Set long sha env-var
        run: echo "LONG_SHA=$(git log -1 --pretty=%H)" >> ${GITHUB_ENV}
      - name: Set short sha env-var
        run: echo "SHORT_SHA=${LONG_SHA:0:7}" >> ${GITHUB_ENV}
      - name: Set latest-image env-var
        run: echo "LATEST_IMAGE=merkely/change:latest" >> ${GITHUB_ENV}
      - name: Set tagged-image sha env-var
        run: echo "TAGGED_IMAGE=merkely/change:sha-${SHORT_SHA}" >> ${GITHUB_ENV}
      - name: Set merkely-fingerprint env-var
        run: echo "MERKELY_FINGERPRINT=docker://${TAGGED_IMAGE}" >> ${GITHUB_ENV}


      - name: Approve deployment in Merkely
        env:
          MERKELY_NEWEST_SRC_COMMITISH: ${GITHUB_SHA}
          MERKELY_OLDEST_SRC_COMMITISH: "origin/latest"
          MERKELY_DESCRIPTION: "Approval created in github actions on git tag ${GITHUB_REF}"
          MERKELY_OWNER: ${{ secrets.MERKELY_OWNER }}
          MERKELY_PIPELINE: ${{ secrets.MERKELY_PIPELINE }}
          MERKELY_API_TOKEN: ${{ secrets.MERKELY_API_TOKEN }}
        run: |
          docker pull ${TAGGED_IMAGE}
          make merkely_approve_deployment


      - name: Deploy latest docker image
        run: |
          docker tag ${TAGGED_IMAGE} ${LATEST_IMAGE}
          docker login -u meekrosoft -p ${{ secrets.DOCKER_DEPLOY_TOKEN }}
          docker push ${LATEST_IMAGE}
          docker logout


      - name: Log the deployment in Merkely
        env:
          MERKELY_DESCRIPTION: "Deployment of ${LATEST_IMAGE} to docker hub"
          MERKELY_ENVIRONMENT: docker_hub
          MERKELY_OWNER: ${{ secrets.MERKELY_OWNER }}
          MERKELY_PIPELINE: ${{ secrets.MERKELY_PIPELINE }}
          MERKELY_API_TOKEN: ${{ secrets.CDB_API_TOKEN }}
        run: |
          make merkely_log_deployment


      - name: Update git branch
        run: |
          # For debugging
          git log --graph --full-history --all --color --date=short --pretty=format:"%Cred%x09%h %Creset%ad%Cblue%d %Creset %s %C(bold)(%an)%Creset" | head -n 30

          git checkout latest
          git merge --ff-only ${GITHUB_SHA}
          git push origin latest
