/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* Beware: It seems you cant use // comments in this file  */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

:root {
  --custom-color: #f0f0f0;
  --merkely-green: #00f4b9;
  --merkely-red: #ff3e15;
  --merkely-dblue: #00117a;
  --merkely-ddblue: #010d5a;
  --merkely-mblue: #0139d3;
  --merkely-lblue: #01abe9; /* #1EAEDB; is what skeleton has for links - may want to harmonize this */
  --merkely-llblue: #f4f6fd;
  --merkely-mbackground: rgba(1, 57, 210, 0.04);
  --merkely-black: #13151b;
  --merkely-sblack: #000000;
  --merkely-grey: #cfcfd1;
  --merkely-white: #fff;

  /* Variables from theme */
  --pst-color-sidebar-link: #001121;
  --pst-color-sidebar-link-active: var(--merkely-mblue);
  --pst-color-headerlink: var(--merkely-dblue);
  --pst-color-headerlink-hover: var(--merkely-dblue);
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/poppins/poppins-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
      url("./fonts/poppins/poppins-v15-latin-regular.eot?#iefix")
          format("embedded-opentype"),
      /* IE6-IE8 */ url("./fonts/poppins/poppins-v15-latin-regular.woff2")
          format("woff2"),
      /* Super Modern Browsers */
          url("./fonts/poppins/poppins-v15-latin-regular.woff") format("woff"),
      /* Modern Browsers */ url("./fonts/poppins/poppins-v15-latin-regular.ttf")
          format("truetype"),
      /* Safari, Android, iOS */
          url("./fonts/poppins/poppins-v15-latin-regular.svg#Poppins")
          format("svg"); /* Legacy iOS */
  font-display: swap;
}

/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/poppins/poppins-v15-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
      url("./fonts/poppins/poppins-v15-latin-500.eot?#iefix")
          format("embedded-opentype"),
      /* IE6-IE8 */ url("./fonts/poppins/poppins-v15-latin-500.woff2")
          format("woff2"),
      /* Super Modern Browsers */
          url("./fonts/poppins/poppins-v15-latin-500.woff") format("woff"),
      /* Modern Browsers */ url("./fonts/poppins/poppins-v15-latin-500.ttf")
          format("truetype"),
      /* Safari, Android, iOS */
          url("./fonts/poppins/poppins-v15-latin-500.svg#Poppins")
          format("svg"); /* Legacy iOS */
  font-display: swap;
}

/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/poppins/poppins-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
      url("./fonts/poppins/poppins-v15-latin-600.eot?#iefix")
          format("embedded-opentype"),
      /* IE6-IE8 */ url("./fonts/poppins/poppins-v15-latin-600.woff2")
          format("woff2"),
      /* Super Modern Browsers */
          url("./fonts/poppins/poppins-v15-latin-600.woff") format("woff"),
      /* Modern Browsers */ url("/fonts/poppins/poppins-v15-latin-600.ttf")
          format("truetype"),
      /* Safari, Android, iOS */
          url("./fonts/poppins/poppins-v15-latin-600.svg#Poppins")
          format("svg"); /* Legacy iOS */
  font-display: swap;
}

/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/poppins/poppins-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
      url("./fonts/poppins/poppins-v15-latin-700.eot?#iefix")
          format("embedded-opentype"),
      /* IE6-IE8 */ url("./fonts/poppins/poppins-v15-latin-700.woff2")
          format("woff2"),
      /* Super Modern Browsers */
          url("./fonts/poppins/poppins-v15-latin-700.woff") format("woff"),
      /* Modern Browsers */ url("./fonts/poppins/poppins-v15-latin-700.ttf")
          format("truetype"),
      /* Safari, Android, iOS */
          url("./fonts/poppins/poppins-v15-latin-700.svg#Poppins")
          format("svg"); /* Legacy iOS */
  font-display: swap;
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/roboto/roboto-v27-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
      url("./fonts/roboto/roboto-v27-latin-regular.eot?#iefix")
          format("embedded-opentype"),
      /* IE6-IE8 */ url("./fonts/roboto/roboto-v27-latin-regular.woff2")
          format("woff2"),
      /* Super Modern Browsers */
          url("./fonts/roboto/roboto-v27-latin-regular.woff") format("woff"),
      /* Modern Browsers */ url("./fonts/roboto/roboto-v27-latin-regular.ttf")
          format("truetype"),
      /* Safari, Android, iOS */
          url("./fonts/roboto/roboto-v27-latin-regular#Roboto")
          format("svg"); /* Legacy iOS */
  font-display: swap;
}

body {
  background-color: var(--merkely-llblue) !important;
  padding-top: var(--pst-header-height);
  font-family: "Roboto";
}

h1 {
  font-family: "Poppins";
  font-weight: 600;
  color: var(--merkely-mblue);
}

a {
  color: var(--merkely-mblue);
}

a:hover {
  color: var(--merkely-mblue);
}

.navbar {
  min-height: 70px;
}

.navbar-brand {
  height: 50px;
  padding-left: 35px;
}

#navbar-collapsible {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default {
  background-color: var(--merkely-ddblue);
  border-color: var(--merkely-ddblue);
}

.back-to-site-btn {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 45px;
}

.back-to-site-btn a {
  color: #ffffff;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}

.back-to-site-btn a:hover {
  color: #ffffff;
  opacity: 0.7;
  text-decoration: none;
}

.back-to-site-btn .left-carret {
  font-size: 20px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.bd-search {
  padding-left: 0;
  padding-right: 0;
}

.bd-search input {
  background-color: var(--merkely-ddblue);
  color: #ffffff;
  border: 0;
}

.bd-search input:focus {
  background-color: var(--merkely-ddblue);
  color: #ffffff;
}

.bd-search input::-webkit-search-cancel-button{
  -webkit-appearance: none;
  content: 'x';
  height: 10px;
  width: 10px;
  color: #ffffff;
}

.bd-search input::placeholder {
  color: #ffffff;
}

.bd-search .icon {
  left: 5px;
  color: #ffffff;
}

.navbar .container {
  padding-top: 10px;
}

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-content > .tab-pane {
  max-width: 910px !important; /* full-width is way too much */
}

p.literal-block-link {
  padding-top: 10px;
}

a.copybtn {
  opacity: 3.7; /* bolder */
  width: 1.5em; /* bigger */
  height: 1.5em;
}

ul.nav.navbar-nav {
  display: none !important; /* Content drop-down looks bad, not needed */
}

.inline-code {
  /* Mimic <code> */
  font-family: monospace;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
}

nav#navbar-main {
  background-color: var(--merkely-ddblue) !important;
}

#navbar-main .container-xl {
  padding: 0 !important;
}

.back-to-site-btn {
  color: #ffffff;
}

.bd-content {
  background-color: #fff;
}

.bd-sidebar {
  border-right: 0;
  padding-top: 30px;
  position: -webkit-sticky !important;
  position: sticky !important;
}

.bd-sidebar .caption {
  display: none;
}

.bd-sidebar .nav {
  font-family: "Poppins";
  font-weight: normal;
}

.toctree-l1 {
  margin-bottom: 20px;
}

.toctree-l2 {
  margin-bottom: 15px;
}

.toctree-l1>a {
  font-size: 16px;
}

.bd-sidebar .nav .toctree-l1.active a {
  color: var(--merkely-mblue)
}

.bd-sidebar .nav .toctree-l1>a:hover {
  color: var(--merkely-mblue);
}

.bd-sidebar .nav .toctree-l2:first-child {
  margin-top: 1rem;
}

.bd-sidebar .nav .toctree-checkbox+label {
  transform: rotate(-90deg);
}

.bd-sidebar .nav .toctree-checkbox:checked+label {
  transform: rotate(180deg)
}

.bd-sidebar .nav label a {
  color: rgba(var(--pst-color-text-base),1);
}

.toctree-l2>a {
  font-size: 14px;
  color: #5273c9 !important;
}

.bd-sidebar .nav .toctree-l2>a.active {
  color: var(--merkely-mblue) !important;
}

.bd-sidebar .nav .toctree-l1 .toctree-l2 a:hover {
  color: var(--merkely-mblue) !important;
}

.bd-links {
  margin-left: 0;
  margin-right: 0;
}

.bd-toc {
  display: none !important;
}

.nav-tabs .nav-link:hover {
  border: 1px solid transparent;
  border-color: #dee2e6 #dee2e6 #fff;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

footer {
  display: none;
}

@media (min-width: 768px) {
  .bd-content {
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }
}